<div class="article">
  <h2><%= "第#{@story[:story_id]}話 #{@story[:title]}" %></h2>
  <span class="notice">
    <pre>←右から左に読みます←右から左に読みます←右から左に読みます←右から左に読みます←右から左に読みます←右から左に読みます←右から左に読みます←右から左に読みます←右から左に読みます←右から左に読みます←右から左に読みます←右から左に読みます
    </pre>
  </span>
  <div class="pages clearfix">
    <% @page_images.each_with_index do |page_image,i| %>
    <div class="page">
      <%= image_tag page_image, alt: "#{@story[:title]}-#{@story[:story_id]}-#{i+1}" %>
    </div>
    <% end %>
  </div>
  <div class="social-btns clearfix">
    <span class='social-btns-url'><%= canonical_url article_path(@story[:story_id]) %></span>
    <span class='social-btns-title'><%= @story[:title] %></span>
  </div>
  <dl>
    <dt>こうかいび：</dt>
    <dd>
      <%= @story[:publish_at] %>
    </dd>
    <dt>かんとく：</dt>
    <dd>
      <%= @story[:directed_by] %>
    </dd>
    <dt>せいさく：</dt>
    <dd>
      <%= @story[:produced_by] %>
    </dd>
  </dl>
</div>
