<!DOCTYPE html>
<html>
<head>
  <title>黄色い線のうちがわくん</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="keywords" content="黄色い線のうちがわくん,きいろいせんのうちがわくん,きいろいせん,黄色い線,内側,鉄道,電車,WEB,漫画,まんが">
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
  
  <%= render 'layouts/shims' %>
  <%= render 'shared/google_analytics' %>
</head>
<body>

  <%= render 'shared/header' %>
  <div class="content-wrapper">
    <div class="content">
      <%= yield %>
    </div>
  </div>
  <%= render 'shared/footer' %>
  
</body>
</html>
